@import "tailwindcss";

@font-face {
  font-family: 'Gued';
  src: url('./fonts/gued.regular.ttf') format('truetype'),
       url('./fonts/gued.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('./fonts/montserrat.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
